.cartel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.cartel>p {
    background-color: var(--bg-white);
    padding: 48px;
    border-radius: 16px;
    text-align: center;
}

.cartel>button {
    box-shadow: 10 10 10 black;
}