.perfil {
    background-color: var(--bg-white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
}

.perfil-picture {
    border-radius: 8px;
    width: clamp(150px, 50%, 350px);
    display: block;
    margin: auto;
}

.perfil-name {
    color: var(--title-color);
}

.perfil-job,
.perfil-description {
    color: var(--text-color);
}

.perfil-contact-data-list {
    list-style-type: none;
}

.perfil-contact-data-element {
    display: flex;
    align-items: center;
    gap: 8px;
}